@import url("https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700&display=swap");
$color-light: #fff2f6;
$color-gray: #c2b0c1;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #f4dee4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Quicksand", sans-serif;
    flex-flow: column wrap;
    gap: 100px;
}

.audio-player {
    width: 75%;
    max-width: 450px;
    background-color: black;
    border-radius: 8px;
    height: 75px;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .play-btn {
        width: 50px;
        height: 50px;
        cursor: pointer;
        background: transparent url("../assets/play-btn.svg") no-repeat center
            center;
        background-size: 100%;
        border: none;
    }
    .pause-btn {
        @extend .play-btn;
        background-image: url("../assets/pause-btn.svg");
        display: none;
    }
}

.duration-slider {
    // margin: 10px 2.5%;
    width: 58%;
    position: relative;
    -webkit-appearance: none;
    outline: none;
    padding: 0;
    height: 7px;
    outline: none;
    background-color: #808080;
    border-radius: 10px;
}
.duration-slider::-webkit-slider-runnable-track {
    // background: rgba(0, 125, 181, 0.6);
}
.duration-slider::-moz-range-track {
    // background: rgba(0, 125, 181, 0.6);
}
.duration-slider::-ms-fill-upper {
    background: rgba(0, 125, 181, 0.6);
}
.duration-slider::before {
    width: var(--volume-before-width);
}

.audio-duration {
    font-size: 13px;
    color: white;
}

// audio spreed
.audio-speed {
    background-color: transparent;
    border: none;
    outline: none;
    text-align: center;
    color: white;
    appearance: none;
    padding: 0;
    margin: 0;
    -webkit-appearance: none;
    -moz-appearance: none;

    & > * {
        color: white;
        border-radius: initial;
        background-color: black;
        -webkit-appearance: none;
        -moz-appearance: none;
        border: 1px solid #ccc;
        border-radius: 3px;
        padding: 5px 3px;
    }
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: white;
    cursor: ew-resize;
    box-shadow: 0 0 2px 0 #555;
    transition: background 0.3s ease-in-out;
}

// %audio-sound {
//     background: transparent url("../assets/volume-up.png") no-repeat center
//         center;
//     background-size: 100%;
//     cursor: pointer;
//     border: none;
// }

.audio-sound {
    width: 20px;
    height: 20px;
    position: relative;
    // display: none;
    .icon {
        background: transparent url("../assets/volume-up.png") no-repeat center
            center;
        background-size: 100%;
        cursor: pointer;
        border: none;
        display: inline-block;
        width: 20px;
        height: 20px;
    }
    .sound-btn-wrap {
        display: none;
        transform: translateX(-10px);
    }
    &:hover {
        .sound-btn-wrap {
            transform: translateX(0px);
            position: absolute;
            left: 0px;
            top: -28px;
            width: 125px;
            height: 75.5px;
            // background-color: rgb(98, 98, 98);
            background-color: black;
            display: flex;
            align-items: center;
            column-gap: 10px;
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
            padding-right: 10px;
            transition: all 0.5s;
            .icon {
                margin-top: 2px;
            }
            #sound-control {
                flex: 1;
                margin-top: -1px;
                --max: 100;
                --min: 0;
                --value: 100;
            }
        }
    }
}
