@import url("https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f4dee4;
  height: 100vh;
  font-family: "Quicksand", sans-serif;
  flex-flow: column wrap;
  gap: 100px;
}

.audio-wrap {
  margin: 100px auto 0px auto;
  width: 95%;
}
@media only screen and (min-width: 600px) {
  .audio-wrap {
    width: 530px;
  }
}

.audio-player {
  padding: 10px 15px;
  background-color: black;
  border-radius: 8px;
  display: grid;
  grid-template-columns: 35px 1fr 75px 28px 0px;
  grid-template-rows: 1fr 40px;
  grid-template-areas: "control-btns duration-slider audio-duration audio-speed" "sound sound sound sound";
  align-items: center;
  column-gap: 15px;
}
@media only screen and (min-width: 600px) {
  .audio-player {
    grid-template-areas: "control-btns duration-slider audio-duration audio-speed sound";
    grid-template-columns: 45px 182px 75px 28px 120px;
    grid-template-rows: 1fr;
    padding: 15px 20px;
    width: 410px;
    overflow: hidden;
    transition: 0.5s all;
    transition-delay: 0.2s;
  }
}
@media only screen and (min-width: 600px) and (min-width: 600px) {
  .audio-player:hover {
    transition-delay: 0s;
    grid-template-columns: 45px 182px 75px 28px;
    width: 550px;
  }
  .audio-player:hover .sound-control {
    transition-delay: 0.4s;
    opacity: 1;
  }
}
.audio-player .control-btns {
  grid-area: control-btns;
  width: 35px;
  height: 35px;
}
@media only screen and (min-width: 600px) {
  .audio-player .control-btns {
    width: 45px;
    height: 45px;
  }
}
.audio-player .control-btns .play-btn, .audio-player .control-btns .pause-btn {
  width: 100%;
  height: 100%;
  cursor: pointer;
  background: transparent url("../assets/play-btn.svg") no-repeat center center;
  background-size: 100%;
  border: none;
}
.audio-player .control-btns .pause-btn {
  background-image: url("../assets/pause-btn.svg");
  display: none;
}
.audio-player:hover {
  height: initial;
}

.duration-slider {
  grid-area: duration-slider;
  width: 100%;
  position: relative;
  -webkit-appearance: none;
  outline: none;
  padding: 0;
  height: 7px;
  outline: none;
  background-color: #808080;
  border-radius: 10px;
}

.duration-slider::-ms-fill-upper {
  background: rgba(0, 125, 181, 0.6);
}

.duration-slider::before {
  width: var(--volume-before-width);
}
@media only screen and (min-width: 600px) {
  .duration-slider::before {
    width: 182px;
  }
}

.audio-duration {
  grid-area: audio-duration;
  font-size: 13px;
  color: white;
}

.audio-speed {
  grid-area: audio-speed;
  background-color: transparent;
  border: none;
  outline: none;
  text-align: center;
  color: white;
  appearance: none;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.audio-speed > * {
  color: white;
  border-radius: initial;
  background-color: black;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 5px 3px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: white;
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
  transition: background 0.3s ease-in-out;
}

.audio-sound {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  column-gap: 15px;
}
@media only screen and (min-width: 600px) {
  .audio-sound {
    column-gap: 8px;
  }
}
.audio-sound .icon {
  background: transparent url("../assets/volume-up.png") no-repeat center center;
  background-size: 100%;
  cursor: pointer;
  border: none;
  display: inline-block;
  width: 20px;
  height: 20px;
}
.audio-sound .sound-btn-wrap {
  transform: translateX(0px);
  position: absolute;
  left: 0px;
  top: -28px;
  width: 125px;
  height: 75.5px;
  background-color: black;
  display: flex;
  align-items: center;
  column-gap: 10px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  padding-right: 10px;
  transition: all 0.5s;
}
.audio-sound .icon {
  margin-top: 2px;
}
.audio-sound #sound-control {
  flex: 1;
  margin-top: -1px;
  --max: 100;
  --min: 0;
  --value: 100;
}

.sound-control {
  grid-area: sound;
  padding-left: 5px;
  opacity: 0;
  transition: 0.5s all;
}
@media only screen and (min-width: 600px) {
  .sound-control {
    padding-left: 0px;
  }
}

/*# sourceMappingURL=style.css.map */
